@import "rsuite/dist/rsuite.css"
@import '../../App.sass'

.filter-container
    width: 100vw
    height: 100vh
    position: fixed
    background: white
    margin-bottom: 50px
    top: 0
    left: 0
    padding: 20px

    @media all and (min-width: 768px)
        position: relative
        max-width: 280px
        min-width: 280px
        margin-bottom: 0

    &.visible
        animation: slide-in-top 0.5s forwards
        @media all and (min-width: 768px)
            animation: none

    &.invisible
        animation: slide-out-top 0.8s forwards
        @media all and (min-width: 768px)
            animation: none
    
    &.hidden
        display: none

    .title-section
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 85%
        @media all and (min-width: 768px)
            .close
                display: none

    h2
        color: $primary-color
    h4
        color: $primary-color
        margin-top: 15px

    .range-slider
        max-width: 300px

        @media all and (min-width: 380px)
            max-width: 350px

        @media all and (min-width: 480px)
            max-width: 450px

        @media all and (min-width: 768px)
            max-width: auto

    .rs-checkbox-control
        &::before
            border: 1px solid $primary-color

    .rs-checkbox-checked .rs-checkbox-control .rs-checkbox-inner, .rs-checkbox-indeterminate .rs-checkbox-control .rs-checkbox-inner
        &::before
            background: $primary-color
            border: 1px solid $primary-color

.rs-slider-progress-bar
    background: $primary-color

.rs-slider-handle
    &::before
        border: 2px solid $primary-color
